source/projects/** linguist-vendored=true
source/projects/offline/*.py whitespace=-blank-at-eof
source/research/reports/** linguist-generated=true
source/research/evaluation/** linguist-generated=true
frozen/** linguist-generated=true
inputs/** linguist-generated=true
